<header>
    <div class="header">
      <img alt="logo" class="logo"
        src="https://discoverstatic.azureedge.net/discoversearch/AngularJS/images/EY-Logo.gif?bWLmRIkWdu-D7WvsNitEk5qrx-g2SN-Lz9wP-56RTDHPwTYcgm4sK32x8rYKNz-pFapkBafAAD9Sl_pXibGddehOmFi4">
      <p class="headerTitle">TTTree</p>
      <div class="headerButton">
        <button class="button" (click)="redirect()">Home</button>    
      </div>
      <div class="headerButton">
        <button class="button" (click)="redirectToRoot()">Root</button>    
      </div>
    </div>
</header>