<div class="col-sm-12 container">

 
    <div class="menu">
      <div class="menu-item"><p class="menu-text" style="font-weight: bold;">Color codes</p></div>
      <div class="menu-item"><span class="green-reference-dot"></span><p class="menu-text">Within range</p></div>
      <div class="menu-item"><span class="orange-reference-dot"></span><p class="menu-text">Just above range (+1)</p></div>
      <div class="menu-item"><span class="red-reference-dot"></span><p class="menu-text">Well above range (+3)</p></div>
      <div class="menu-item"><p class="menu-text">&nbsp;</p></div>
    </div>

  <p-organizationChart [value]="counselorNodes" selectionMode="single" [(selection)]="selectedNode" [preserveSpace]=false class="horizontalChart">
    <ng-template let-node pTemplate="default" class="horizontalNode">
      <div class="node-content row e" style="width: 225px !important; height: 303px !important; margin-top: -11px; margin-bottom: -11px;">
        <div class="photo" [style.background-image]="!!node.data.avatar ? 'url(\'' + node.data.avatar + '\')' : 'url(\'' + 'assets/fotos/imagengenérica.jpg' + '\')'" 
          [ngClass]="node.data.rank == 'Executive Director' ? 'node-content-mute' : getCountForRank(node.data.rank) == 0 && node.children.length == 0 ? 'node-content-mute' :
           node.children.length >= getCountForRank(node.data.rank) + 3 ? 'node-content-red' : 
           node.children.length >= getCountForRank(node.data.rank) + 1 ? 'node-content-orange' : 'node-content-green'"></div>
        <div class="relation_ship_css_client rel_client_one badge badge-primary">
          <div class="counter" *ngIf="node.data.name != 'Ajay Samuel'  && (getCountForRank(node.data.rank) != 0 || node.children.length > 0)" [ngClass]="node.children.length >= getCountForRank(node.data.rank) + 3 ? 'red-dot' : 
                       node.children.length >= getCountForRank(node.data.rank) + 1 ? 'orange-dot' : 'green-dot'">
            {{node.children.length}}
          </div><br />
          <span class="rel_node_name">{{node.data.rank}}</span><br />
        </div>
        <div class="name_css_profile name_profile_one">
          <span class="rel_label_name">{{node.data.name}}</span>
        </div>
      </div>
    </ng-template>
  </p-organizationChart>    
  <p-table #dt [columns]="cols" [value]="counselorNodes" [paginator]="true" [rows]="10" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <p-columnFilter type="text" [field]="col.field" [matchModeOptions]="matchModeOptions"
            [matchMode]="'custom-equals'"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>