.row>* {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.badge {
  --bs-badge-color: #000000
}

.node-header, .node-content {  
    padding: .5em .7rem; 
}  

.rel_node_name{
  font-size: 25px;
}

.rel_label_name{
  font-size:25px;
}

.node-content-red  {  
    border-radius: 50%;   
    border: 5px solid #ff0000 !important;  
}  
.node-content-yellow  {  
    border-radius: 50%;    
    border: 5px solid #e5ff00 !important;  
}  
.node-content-green  {  
    border-radius: 50%;    
    border: 5px solid #18ce00 !important;  
}  

:host /deep/ .p-organizationchart-selectable-node {
border: 1px solid #000000;
border-radius: 20px;
}

:host /deep/ .p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid #000000;
  border-color: #000000;
}

:host /deep/ .p-organizationchart-line-left{
  display: 1px solid #000000;
  border-color: #000000;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content{
  font-weight: 600;
  color: #000000;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content .p-node-toggler{
  border: 1px solid #000000;
  color: #000000;
  font-weight: 1000;
}

:host / .p-organizationchart .p-organizationchart-node-content:hover {  
    background: #fbff00 !important;  
    cursor: pointer;
  }  

  :host /deep/ .p-organizationchart .p-organizationchart-line-down {  
    height: 30px !important;  
    border: 1px solid #000000
  }  
  
  :host /deep/ .node-content {  
    text-align: center;  
    border: 0px solid #b0c2d6;  
  }  
  