.row>* {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.detail-box {
  width:500px;
  height:100px;
  border:1px solid rgb(0, 0, 0);
  margin-left: 500px;
  margin-bottom: 30px;
  position: absolute !important;
}

.green-reference-dot {
  height: 3vh;
  width: 1.5vw;
  background-color: #18ce00;
  border-radius: 50%;
  display: inline-block;
}

.orange-reference-dot {
  height: 3vh;
  width: 1.5vw;
  background-color: #ffbb00;
  border-radius: 50%;
  display: inline-block;
}

.red-reference-dot {
  height: 3vh;
  width: 1.5vw;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.container {
  background-color: #1b1b25 !important;
  display: 	inline-table;
  width: 100%;
  font-size: 25px !important;
  padding-bottom: 100px;
}

.badge {
  --bs-badge-color: #000000
}

.node-header, .node-content {  
    padding: .5em .7rem; 
}  

.rel_node_name{
  font-size: 25px;
  color: #FFFFFF;
  font-family: EYInterstate;
}

.rel_label_name{
  font-size:17px;
  color: #FFFFFF;  
  font-family: EYInterstate;
}

.node-content-red  {
    border: 10px solid #ff0000 !important;
}  
.node-content-orange  {
    border: 10px solid #ffbb00 !important;
}  
.node-content-green  { 
    border: 10px solid #18ce00 !important;
}  
.node-content-mute  {
    border: 10px solid #727272 !important;
}  

.green-dot{
  background-color: #18ce00 !important;
}

.orange-dot{
  background-color: #ffbb00 !important;
}

.red-dot{
  background-color: #ff0000 !important;


}.no-dot{
  background-color: #727272 !important;
}

.counter{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display:flex;
  margin-left: 60%;
  margin-top: -25%;
  font-size: 2rem;
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
}

.photo{
  border-radius: 50%;
  height: 203px;  
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}

:host /deep/ .p-organizationchart-selectable-node {
border: 1px solid #ffffff;
border-radius: 20px;
background: #23232F;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

:host /deep/ .p-organizationchart-table {
  border-collapse: collapse  !important;
}

:host /deep/ .p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid #ffffff;
  border-color: #ffffff;
}

:host /deep/ .p-organizationchart .p-organizationchart-line-left{
  display: 1px solid #ffffff;
  border-color: #ffffff;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content{
  font-weight: 600;
  color: #000000;
  padding: 2rem;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content .p-node-toggler{
  border: 1px solid #ffffff;
  color: #000000;
  font-weight: 1000;
  color: #FFFFFF;
}

:host / .p-organizationchart .p-organizationchart-node-content:hover {  
    cursor: pointer;
  }  

  :host /deep/ .p-organizationchart .p-organizationchart-line-down {  
    height: 30px !important;  
    border: #ffffff
  }  
  
  :host /deep/ .node-content {  
    text-align: center;  
    border: 0px solid #b0c2d6;  
  }  
  
.menu{
  width: 12vw;
  color: #ffffff;
  background-color: #1b1b25;
  margin-right:auto;
  position: inherit;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}
.menu-item{
  /* width: 15vh; */
  margin: 0.5vh;
  padding: 0px;
  display:flex;
  align-items:center;
}
p.menu-text{
  display: inline-block;
  font-size: 1.5vh !important;
  margin: 0.5vh;
  padding: 0px;
  width: max-content;
}