<div class="col-sm-12 container">

 
    <div style="width:500px;height:100px;border:1px solid rgb(255, 255, 255);">
      <span class="green-reference-dot"></span>Dentro de los límites para su rank<br>
      <span class="orange-reference-dot"></span>Ligeramente excedido<br>
      <span class="red-reference-dot"></span>Por encima del márgen<br>
    </div>
  </div>
<!-- 
  <p-organizationChart [value]="counselorNodes" selectionMode="single" [(selection)]="selectedNode" [preserveSpace]=false>
    <ng-template let-node pTemplate="default">
      <div class="node-content row e" style=" width: 225px !important; margin-top: -11px; margin-bottom: -11px;">
        <img alt="" src="{{!!node.data.avatar ? node.data.avatar : '/assets/fotos/imagengenérica.jpg'}}" width="32"
          [ngClass]="node.data.rank == 'Executive Director' ? 'node-content-mute' : node.data.rank == 'Staff/Assistant' && node.children.length == 0 ? 'node-content-mute' :
           node.children.length >= getDangerForRank(node.data.rank) -1 ? 'node-content-red' : 
           node.children.length > getWarningForRank(node.data.rank) -2 ? 'node-content-orange' : 'node-content-green'">
        <div class="relation_ship_css_client rel_client_one badge badge-primary">
          <div class="counter" *ngIf="node.data.rank != 'Staff/Assistant' || node.children.length > 0" [ngClass]="node.children.length >= getDangerForRank(node.data.rank) -1 ? 'red-dot' : 
                       node.children.length > getWarningForRank(node.data.rank) -2 ? 'orange-dot' : 'green-dot'">
            {{node.children.length}}
          </div><br />
          <span class="rel_node_name">{{node.data.rank}}</span><br />
        </div>
        <div class="name_css_profile name_profile_one">
          <span class="rel_label_name">{{node.data.name}}</span>
        </div>
      </div>
    </ng-template>
  </p-organizationChart> -->
  <div>
    <ul>
      <ng-template #recursiveList let-counselors>
        <li *ngFor="let counselor of counselors" class="rectangle">
          <div class="align">
            <!-- <div class="horizontal-lines">&nbsp;</div> -->
            <div class="counselor">
                {{counselor.name}}
            </div>
            <!-- <div class="horizontal-lines">&nbsp;</div> -->
          </div>
          <div style="display: grid; height: fit-content;align-items:center;">
            <div class="next" *ngIf="counselor.counselees.length > 0">
              <ul>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: counselor.counselees }"></ng-container>
              </ul>
            </div>
          </div>
        </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: counselors }"></ng-container>
    </ul>
  </div>