.row>* {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/* .detail-box {
  width:500px;
  height:100px;
  border:1px solid rgb(0, 0, 0);
  margin-left: 500px;
  margin-bottom: 30px;
  position: absolute !important;
} */


.green-reference-dot {
  height: 25px;
  width: 25px;
  background-color: #18ce00;
  border-radius: 50%;
  display: inline-block;
}

.orange-reference-dot {
  height: 25px;
  width: 25px;
  background-color: #ffbb00;
  border-radius: 50%;
  display: inline-block;
}

.red-reference-dot {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

/* .container {
  background-color: rgb(255, 255, 255) !important;
  display: 	inline-table;
  width: 100%;
  font-size: 25px !important;
} */


.badge {
  --bs-badge-color: #000000
}

.node-header, .node-content {  
    padding: .5em .7rem; 
}  

.rel_node_name{
  font-size: 25px;
}

.rel_label_name{
  font-size:25px;
}

.node-content-red  {
    border: 10px solid #ff0000 !important;
}  
.node-content-orange  {
    border: 10px solid #ffbb00 !important;
}  
.node-content-green  { 
    border: 10px solid #18ce00 !important;
}  
.node-content-mute  {
    border: 10px solid #727272 !important;
}  

.green-dot{
  background-color: #18ce00 !important;
}

.orange-dot{
  background-color: #ffbb00 !important;
}

.red-dot{
  background-color: #ff0000 !important;


}.no-dot{
  background-color: #727272 !important;
}

.counter{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display:flex;
  margin-left: 60%;
  margin-top: -25%;
  font-size: 2rem;
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
}

img{
  border-radius: 50%;
}
/* 
:host /deep/ .p-organizationchart-selectable-node {
border: 1px solid #000000;
border-radius: 20px;
}

:host /deep/ .p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid #000000;
  border-color: #000000;
}

:host /deep/ .p-organizationchart-line-left{
  display: 1px solid #000000;
  border-color: #000000;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content{
  font-weight: 600;
  color: #000000;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content .p-node-toggler{
  border: 1px solid #000000;
  color: #000000;
  font-weight: 1000;
}

:host / .p-organizationchart .p-organizationchart-node-content:hover {  
    background: #fbff00 !important;  
    cursor: pointer;
  }  

  :host /deep/ .p-organizationchart .p-organizationchart-line-down {  
    height: 30px !important;  
    border: 1px solid #000000
  }  
  
  :host /deep/ .node-content {  
    text-align: center;  
    border: 0px solid #b0c2d6;  
  }  
   */



  /* On testing */
  .horizontal-lines{
    width: 100px; 
    height: 0px; 
    position: relative;
    border-top: 5px solid black;
    display: inline-block;
  }
  .vertical-lines{
    width: 0px; 
    height: 100%; 
    position: relative;
    border-right: 5px solid black;
    display: inline-block;
  }
  .rectangle {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
  }
  .counselor{
    padding: 20px;
    width: 200px;
  }
  .counselor::before{
    border-top: 1px solid black;
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    margin-top: 1em;
    width: 4em;
  }
  .next{
    display:flex;
  }
  .next::before{
    border-left: 1px solid black;
    content: "";
    position: absolute;
    display:flex;
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
  }
  .align{
    display:flex;
    align-items:center;
  }
  .organizational-chart li {
    list-style: none;
  }
  ul{
    padding: 0px;
  }
