<div class="tableContainer">
    <table class="blueTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Administrators</th>
                <th>Roots</th>
                <th>Allowed users</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>TTTree</td>
                <td>Gustavo Orteu<br>Sabrina M Silva</td>
                <td>gustavo.orteu@gds.ey.com<br>sabrina.m.silva@gds.ey.com</td>
                <td>All</td>
            </tr>        
        </tbody>
    </table>
</div>